<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css')}}">

    <title>Password Card Generator</title>
</head>
<body>
<div class="inputs card">
    <form method="POST" id="form">
        <h1>PasswordCard</h1>
        <p style="color: lightcoral; margin: 0;">{{ error }}</p> <br />
        <label>
            Password length:
            <input type="text" name="password_length" id="pl" value="Please don't use your password!" style="color: grey;"> <br />
            <input type="checkbox" id="npl" name="no_pwd_len">No Password Length<br />
            <input type="checkbox" name="ascii">Ascii Card<br/>
            <details>
                <summary>Advanced options</summary>
                Seed: <input type="text" name="seed" style="color: grey; margin-bottom: 0;">
            </details>
        </label>
        <a href="#" id="submit">
            Generate
        </a>
    </form>
</div>
</body>
<footer>
    <script>
        document.getElementById("npl").onclick = function _() {
            const text_field = document.getElementById("pl");
            if (text_field.getAttribute("disabled") === null) {
                text_field.removeAttribute("enabled");
                text_field.setAttribute("disabled", "");
            } else {
                text_field.removeAttribute("disabled");
                text_field.setAttribute("enabled", "");
            }
        }

        document.getElementById("pl").onclick = function _() {
            const pwd_len = document.getElementById("pl");
            if (pwd_len.value === "Please don't use your password!") {
                pwd_len.value = "";
            }
        }

        document.getElementById("submit").onclick = function _() {
            const pwd_len = document.getElementById("pl");
            if (pwd_len.value === "Please don't use your password!") {
                pwd_len.value = "";
            }
            document.getElementById("form").submit();
        }
    </script>
</footer>
</html>
