html {
	margin: auto;
    width: 565px;
    padding: 10px;
}

/* custom selection  color + removing all effects from text */
::-moz-selection { background: rgba(128, 0, 128, 0.7); text-decoration: none; text-shadow: none; }
::selection { background: rgba(128, 0, 128, 0.7); text-decoration: none; text-shadow: none; }

/* Custom scroll bar doesnt work for firefox */
body::-webkit-scrollbar { background: #1e1e24; }
body::-webkit-scrollbar-thumb { background: #6649b8; }

/*noinspection CssReplaceWithShorthandSafely,CssNoGenericFontName*/
body {
	background:
		/* top, transparent black, faked with gradient */
        linear-gradient(
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
        ),
        /* bottom, image */
        url("../img/background.png");

	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;

	color: white;
	font-family: "Arial";
}

details {
  transition: 0.5s;
}

details summary {
    margin-bottom: 5px;
}

details:not([open])
{
    height: 0;
}

details[open]
{
    height: 100px;
}

footer {
	bottom: 0;
	text-align: center;
	width: 100%;
	position: fixed;
}

/*
totally not copied from w3school
 */
/*noinspection CssNonIntegerLengthInPixels*/
.card {
    width: 500px;
	margin-left: 10px;
	padding: 2.6px 20.8px;
	background-color: #181818;
	border: 6.5px solid #282828;
	border-radius: 10px;
	/* Add shadows to create the "card" effect */
	box-shadow: 0 5.2px 20.4px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
}

/* submit button animation and stuff */
input[type=text] {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #01a1a9;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

a:hover {
  background: #257b80;
  color: #b6b6b6;
  border-radius: 5px;
}
